.Game {
  width: 65%;
}

.GuessInput {
  padding: 30px 10px 0px 10px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.digit-input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
}

.guess-input {
  text-align: center;
}

.input-button {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  background-color: #00a0dc;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
}

.currentGuess {
  margin: 20px auto;
  height: 50px;
  width: 200px;
  font-size: 50px;
  color: #313335;
  border: #313335 2px solid;
  border-radius: 2px;
}

.guess-button {
  margin: 10px;
  background-color: #0073b1;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
}

.clear-button {
  margin: 10px;
  background-color: #0073b1;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
}
