.guess-history-container {
  background-color: bisque;
  display: flex;
  margin: 10px;
  padding: 20px 10px;
}

.guess-history-header {
  text-align: center;
}

.each-guess {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.guess {
  width: 45%;
  background-color: blue;
  padding: 10px;
}

.feedback {
  width: 45%;
  background-color: red;
  padding: 10px;
}
