.guess-history-container {
  background-color: #86888a;
  width: 50%;
  margin: auto;
  padding: 10px 10px 20px 10px;
  border-radius: 2px;
}

.history-label-text {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: white;
}

.guess-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.guess-and-feedback-container {
  display: flex;
  flex-direction: column-reverse;
}

.each-guess {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px 0px;
}

.guess {
  width: 40%;
  background-color: #00a0dc;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
}

.feedback {
  width: 40%;
  background-color: #0077b5;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
}
