.guess-history-container {
  background-color: #86888a;
  display: flex;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 2px;
}

.guess-history-header {
  text-align: center;
}

.each-guess {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.guess {
  width: 30%;
  background-color: #00a0dc;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
}

.feedback {
  width: 60%;
  background-color: #0077b5;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
}
