.Header {
  background-color: #313335;
  color: white;
  padding: 10px;
  border-radius: 2px 2px 0px 0px;
  min-height: 97.5vh;
  width: 35%;
  text-align: center;
}

.logo {
  margin: 50px;
  max-width: 300px;
}

.rules {
  padding: 20px;
  font-size: 25px;
  border-radius: 2px;
  margin: 20px;
  text-align: left;
}

.rules-bullet-list {
  padding: 10px;
}
.rules-bullet {
  list-style-type: circle;
  margin-left: 30px;
  padding: 5px;
}
