@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.App {
  width: 60%;
  margin: 0px auto;
  background-color: #caccce;
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}
